In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.discriminant_analysis import StandardScaler

In [3]:
data = pd.read_csv("./KyotoDataset.csv")
data.head()

,AD,Full-flowering date (DOY),Full-flowering date,Source code,Data type code,Reference Name
0,1900,102.0,412.0,4.0,0.0,NEWS-PAPER(ARASHIYAMA)
1,1901,102.0,412.0,4.0,0.0,NEWS-PAPER(ARASHIYAMA)
2,1902,98.0,408.0,4.0,0.0,KYOTO-TETUDO-KANRIKYOKU ADV(ARASHIYAMA)
3,1903,99.0,409.0,4.0,0.0,NEWS-PAPER(ARASHIYAMA)
4,1904,108.0,417.0,4.0,0.0,NEWS-PAPER(ARASHIYAMA)

In [ ]:
X = data["AD"].values
y = data["Full-flowering date (DOY)"].values

sc_x = StandardScaler()
sc_y = StandardScaler()