In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./Netflix-Dataset-Latest-2021.csv")
data.head(5)

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,...,2021-03-04,"Canal+, Sandrew Metronome",https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,https://www.youtube.com/watch?v=LqB6XJix-dM,YouTube
1,Joker,"Crime, Drama, Thriller","Dark Comedies,Crime Comedies,Dramas,Comedies,C...",English,Movie,3.5,"Lithuania,Poland,France,Italy,Spain,Greece,Bel...",1-2 hour,Todd Phillips,"Bob Kane, Jerry Robinson, Bill Finger, Todd Ph...",...,2021-03-03,"Bron Studios, Creative Wealth Media Finance, D...",https://www.netflix.com/watch/81382215,https://www.imdb.com/title/tt7286456,A practical jokers fake kidnapping at a bachel...,951938.0,https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BNGVjNW...,https://www.youtube.com/watch?v=t433PEQGErc,YouTube
2,I,"Action, Adventure, Fantasy, Sci-Fi","Dramas,Swedish Movies","English, Sanskrit",Movie,2.8,"Lithuania,Poland,France,Italy,Spain,Greece,Cze...",1-2 hour,George Lucas,George Lucas,...,2021-03-03,Lucasfilm Ltd.,https://www.netflix.com/watch/81382114,https://www.imdb.com/title/tt0120915,A young man seeking his identity begins a roma...,733336.0,https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BYTRhNj...,https://www.youtube.com/watch?v=bD7bpG-zDJQ,YouTube
3,Harrys Daughters,"Adventure, Drama, Fantasy, Mystery","Dramas,Swedish Movies",English,Movie,4.4,"Lithuania,Poland,France,Italy,Spain,Greece,Cze...",1-2 hour,David Yates,"Steve Kloves, J.K. Rowling",...,2021-03-03,"Heyday Films, Moving Picture Company, Warner B...",https://www.netflix.com/watch/81382102,https://www.imdb.com/title/tt1201607,"As two sisters both experience pregnancy, trag...",766594.0,https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BMGVmMW...,https://www.youtube.com/watch?v=5NYt1qirBWg,YouTube
4,The Closet,Comedy,"Korean Movies,Horror Movies,Mysteries",French,Movie,3.8,South Korea,1-2 hour,Francis Veber,Francis Veber,...,2021-03-01,"Miramax, Gaumont",https://www.netflix.com/watch/81405032,https://www.imdb.com/title/tt0243493,A recent widowers move into a new house takes ...,16657.0,https://occ-0-395-988.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BMGRmNz...,https://www.youtube.com/watch?v=ou9YG0fUztA,YouTube

### Terminologia

la variabile data è di tipo dataFrame

In [3]:
data["IMDb Score"]

0       7.9
1       8.4
2       6.5
3       8.1
4       7.0
       ...
2150    6.8
2151    6.8
2152    6.8
2153    4.9
2154    5.3
Name: IMDb Score, Length: 2155, dtype: float64

In [5]:
colonne = data[["Title", "Director"]]
colonne

                                         Title             Director
0                             Lets Fight Ghost      Tomas Alfredson
1                                        Joker        Todd Phillips
2                                            I         George Lucas
3                             Harrys Daughters          David Yates
4                                   The Closet        Francis Veber
...                                        ...                  ...
2150                            50 First Dates          Peter Segal
2151                                        21       Robert Luketic
2152                                One Chance        David Frankel
2153  The Twilight Saga: Breaking Dawn: Part 1          Bill Condon
2154                         One for the Money  Julie Anne Robinson

[2155 rows x 2 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  2155 non-null   object
 1   Genre                  2155 non-null   object
 2   Tags                   2155 non-null   object
 3   Languages              2155 non-null   object
 4   Series or Movie        2155 non-null   object
 5   Hidden Gem Score       2155 non-null   float64
 6   Country Availability   2155 non-null   object
 7   Runtime                2155 non-null   object
 8   Director               2155 non-null   object
 9   Writer                 2155 non-null   object
 10  Actors                 2155 non-null   object
 11  View Rating            2155 non-null   object
 12  IMDb Score             2155 non-null   float64
 13  Rotten Tomatoes Score  2155 non-null   float64
 14  Metacritic Score       2155 non-null   float64
 15  Awards Received        2155 non-null   float64
 16  Awards Nominated For   2155 non-null   float64
 17  Boxoffice              2155 non-null   float64
 18  Release Date           2155 non-null   object
 19  Netflix Release Date   2155 non-null   object
 20  Production House       2155 non-null   object
 21  Netflix Link           2155 non-null   object
 22  IMDb Link              2155 non-null   object
 23  Summary                2155 non-null   object
 24  IMDb Votes             2155 non-null   float64
 25  Image                  2155 non-null   object
 26  Poster                 2155 non-null   object
 27  TMDb Trailer           2155 non-null   object
 28  Trailer Site           2155 non-null   object
dtypes: float64(8), object(21)
memory usage: 488.4+ KB

In [12]:
data.index
data.describe()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,Boxoffice,IMDb Votes
count,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2.155000e+03,2.155000e+03
mean,3.396659,6.788538,65.759165,60.961021,13.547564,27.378654,6.950284e+07,1.917973e+05
std,1.090777,0.908366,25.199188,16.927377,25.693355,41.910874,8.403720e+07,2.433967e+05
min,0.600000,2.200000,0.000000,6.000000,1.000000,1.000000,5.090000e+02,5.560000e+02
25%,2.700000,6.300000,49.000000,50.000000,2.000000,5.000000,8.551992e+06,4.267700e+04
50%,3.500000,6.900000,72.000000,62.000000,4.000000,12.000000,4.321839e+07,1.102020e+05
75%,4.000000,7.400000,86.000000,73.000000,13.000000,29.000000,1.002433e+08,2.406775e+05
max,8.700000,9.300000,100.000000,100.000000,300.000000,355.000000,6.523856e+08,2.354197e+06

In [14]:
# selecezionare tutti i film o serie con IMDb score > 7
"""
SELECT *
FROM data 
WHERE IMBd score > 7
"""

data[data["IMDb Score"] > 9]

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
1757,The Shawshank Redemption,Drama,"Dramas,20th Century Period Pieces,Dramas based...",English,Movie,4.4,"France,Portugal,Belgium,Switzerland,Japan,Spai...",> 2 hrs,Frank Darabont,"Frank Darabont, Stephen King",...,2015-04-14,"Columbia Pictures, Castle Rock Entertainment",https://www.netflix.com/watch/70005379,https://www.imdb.com/title/tt0111161,"Framed for murder, upstanding banker Andy Dufr...",2354197.0,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...,https://images-na.ssl-images-amazon.com/images...,https://www.youtube.com/watch?v=K_tLp7T6U1c,YouTube
1808,The Godfather,"Crime, Drama","Dramas,Gangster Films,Classic Films,Dramas bas...","English, Italian, Latin",Movie,4.8,"Romania,Hungary,Hong Kong,Canada,Thailand,Belg...",> 2 hrs,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",...,2015-04-14,Paramount Pictures,https://www.netflix.com/watch/60011152,https://www.imdb.com/title/tt0068646,When an organized-crime family patriarch barel...,1625286.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,https://images-na.ssl-images-amazon.com/images...,https://www.youtube.com/watch?v=1x0GpEZnwa8,YouTube

In [15]:
data[(data["Series or Movie"] == "Series") & (data["IMDb Score"] > 8)]

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
86,Spotlight,"Biography, Crime, Drama","TV Comedies,Kids&#39; TV",English,Series,4.5,"Switzerland,Germany",< 30 minutes,Tom McCarthy,"Josh Singer, Tom McCarthy",...,2020-10-03,"Anonymous Content, Rocklin/Faust",https://www.netflix.com/watch/81318955,https://www.imdb.com/title/tt1895587,"At the Berlin School of Arts, a group of motiv...",422721.0,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BMjIyOT...,https://www.youtube.com/watch?v=EwdCIpbTN5g,YouTube
88,Aliens,"Action, Adventure, Sci-Fi, Thriller","Alien Sci-Fi,Comedy Programmes,British Program...",English,Series,4.4,United Kingdom,< 30 minutes,James Cameron,"Dan O'Bannon, Ronald Shusett, James Cameron, W...",...,2020-10-01,"Twentieth Century Fox, Brandywine Productions",https://www.netflix.com/watch/81297471,https://www.imdb.com/title/tt0090605,In a world where humans and aliens live segreg...,654147.0,https://occ-0-179-299.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BZGU2OG...,https://www.youtube.com/watch?v=svnAD0TApb8,YouTube
1203,Monty Pythons Fliegender Zirkus,"Adventure, Comedy, Fantasy","TV Comedies,TV Shows,German TV Programmes","English, French, Latin",Series,4.5,"Australia,Singapore,Russia,India,Lithuania,Uni...",< 30 minutes,"Terry Gilliam, Terry Jones","Michael Palin, Terry Gilliam, John Cleese, Eri...",...,2018-04-15,"Michael White Productions, Python (Monty) Pict...",https://www.netflix.com/watch/80236357,https://www.imdb.com/title/tt0202477,The Pythons elevate the absurd to new heights ...,502049.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,https://images-na.ssl-images-amazon.com/images...,https://www.youtube.com/watch?v=uwGaanDwGeI,YouTube